@font-face {
    font-family: 'Amfibia Expanded';
    src: url('fonts/Amfibia-RegularExpanded.woff2') format('woff2'),
        url('fonts/Amfibia-RegularExpanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Amfibia Expanded';
    src: url('fonts/Amfibia-DemiBoldExpanded.woff2') format('woff2'),
        url('fonts/Amfibia-DemiBoldExpanded.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@media (max-width: 768px) {
    .welcome-image{
        display:none;
    }
    .main{

      text-align: center;
    }
    .line-2{
        position:relative;
        left: 50%;
        transform:translate( -50%);
    }
 
 
}


:root {
    --main-font: 'Amfibia Expanded', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
body{
  background-color: #f8d9e9 !important; 
}

p{
    margin-bottom: 0 !important;
}
#main-font{
    font-family: var(--main-font);
    font-size: 1.5em;
}
#bold-font{
    font-family:var(--main-font);
    font-size: 1.5em;
}
.welcome-image{
    min-width: 315px;
    height: 302px;
}
.image{
    display:flex;
    justify-content: end;
}
.line-1{
    font-family: var(--main-font);
    font-size: 16px; 
    color: #861B64;
}
.title{
    font-family: var(--main-font);
    font-style: normal;
    max-width: 554px;
    font-weight: 600;
    font-size: 2em;
    color: #861B64;
}
.line-2{
    font-family: var(--main-font);
    font-size: 16px;
    max-width: 389px;
    color: #861B64;
}
.start-button{
    width: 167px;
    height: 43px;
    background-color: #DA217F;
    border-radius: 25px;
    border: 0;
    font-family: var(--main-font);
    color: #FFFFFF;
}

.start-button:hover{
    background-color: #DA217Faf;
}

.wrap{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
}

/* width */
::-webkit-scrollbar {
    width: 7px;

  }
  
  /* Track */
::-webkit-scrollbar-track {
background-color: #861B64;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d4d4d4; 
    cursor: pointer;

  }

