

@media (max-width: 680px) {
  
    #logo{
        display: none;
    }
}

@media (max-width: 760px) {
  
  .final{
      padding:0 !important;
  }

}

.question{
    width: 208px; 
    color:white;
    background: #DA217F;
    border-radius: 0px 20px 20px 0px;
   
    display:flex;
    align-items: center;
    font-family: var(--main-font);
    font-weight: 600;
}
.question p{
    padding: 10px 0;
    margin:auto;
}

.table{
    background-color: white;
    max-width: 70vw;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    
}

tr{
    vertical-align: middle;   
}
th{
    font-family: var(--main-font);
    color: #861B64;
    position: relative;
    top: -4px;
    
}
.vertical-align{
   display: inline-block;
   vertical-align: middle;
}
.icons{
    font-size: 1.5em;
}
.search{
    border: none;
    outline: none;
    text-align: center;
    color: #861B64;
}
.search::placeholder{
    color: #861b64b0;
}

.button-add{
    width: 127px;
    height: 33px;
    font-family: var(--main-font);
    color: #fff;
    background: #DA217F;
    border-radius: 25px;
    border:0;
  
}
.button-add:hover{
    background: #DA217FAF;
}
.btn-user{
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.trash:hover{
    color:#cc2525;
}
.pen:hover{
    color: #fac107;
}



.nav-bg{
    background-color: white;
}
.final li{
    display: inline-block;
   
   
}
.final{
    margin: 0 !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.links, .link:visited, .link:active{
    color:#a7277e !important;
    font-family: var(--main-font);
    font-weight: 600;
   
}
.links:hover{
    text-decoration: underline ;
}